<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kenny">

  <xacro:macro name="base_gazebo">

    <xacro:property name="ground_friction" value="0.5" />
    <xacro:property name="wheel_friction" value="0.5" />

    <gazebo reference="base_link">
      <material>Gazebo/Yellow</material>
    </gazebo>

    <gazebo reference="wheel_rfront">
      <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="wheel_rback">
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="wheel_lfront">
      <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="wheel_lback">
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="inertial_link"/>
    <!-- <gazebo reference="dummy"/> -->
    <gazebo reference="base_footprint"/>

    <!--  ++++++++++++++++++++++++++++++++++++++++ JOINTS -->

    <gazebo reference="joint_base_wheel_lfront">
      <mu>${ground_friction}</mu>
      <mu2>${wheel_friction}</mu2>
    </gazebo>
    <gazebo reference="joint_base_wheel_lback">
      <mu>${ground_friction}</mu>
      <mu2>${wheel_friction}</mu2>
    </gazebo>
    <gazebo reference="joint_base_wheel_rfront">
      <mu>${ground_friction}</mu>
      <mu2>${wheel_friction}</mu2>
    </gazebo>
    <gazebo reference="joint_base_wheel_rback">
      <mu>${ground_friction}</mu>
      <mu2>${wheel_friction}</mu2>
    </gazebo>


    <gazebo reference="inertial_joint"/>
    <!-- <gazebo reference="dummy_joint"/> -->
    <gazebo reference="base_footprint_joint"/>


  </xacro:macro>

</robot>