<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kenny">

  <xacro:macro name="base_gazebo">

    <gazebo reference="base_link">
      <material>Gazebo/Yellow</material>
    </gazebo>

    <gazebo reference="wheel_right">
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="wheel_left">
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="inertial_link"/>
    <!-- <gazebo reference="dummy"/> -->
    <gazebo reference="base_footprint"/>

    <!--  ++++++++++++++++++++++++++++++++++++++++ JOINTS -->

    <gazebo reference="joint_base_wheel_left">
      <mu1>100.0</mu1>
      <mu2>50.0</mu2>
    </gazebo>

    <gazebo reference="joint_base_wheel_right">
      <mu1>100.0</mu1>
      <mu2>50.0</mu2>
    </gazebo>

    <gazebo reference="inertial_joint"/>
    <!-- <gazebo reference="dummy_joint"/> -->
    <gazebo reference="base_footprint_joint"/>


  </xacro:macro>

</robot>