<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kenny">

  <xacro:macro name="base_gazebo">

    <gazebo reference="base_link">
      <material>Gazebo/Yellow</material>
    </gazebo>

    <gazebo reference="wheel_right">
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="wheel_left">
      <material>Gazebo/Black</material>
    </gazebo>

    <!--  ++++++++++++++++++++++++++++++++++++++++ JOINTS -->

    <gazebo reference="joint_base_wheel_left">
      <mu1>0.2</mu1>
      <mu1>0.2</mu1>
    </gazebo>

    <gazebo reference="joint_base_wheel_right">
      <mu1>0.2</mu1>
      <mu1>0.2</mu1>
    </gazebo>

  </xacro:macro>

</robot>