<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kenny">

  <xacro:macro name="camera_mechanism_gazebo">

    <gazebo reference="camera_pan">
      <material>Gazebo/Yellow</material>
    </gazebo>

    <gazebo reference="camera_tilt_block">
      <material>Gazebo/Yellow</material>
    </gazebo>

    <gazebo reference="camera_tilt_holder">
      <material>Gazebo/Yellow</material>
    </gazebo>

  </xacro:macro>

</robot>