<launch>

  <!-- <arg name="model" default="$(find kenny_description)/urdf/kenny.urdf"/> -->
  <arg name="rvizconfig" default="$(find kenny_description)/rviz/urdf.rviz" />

  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <remap from="/joint_states" to="/kenny/joint_states" />
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>