<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kenny">

  <author>
    <name> Ilke Dincer </name> 
  </author>

  <description>
    An URDF of Kenny the Echidna bomb disposal robot. 
  </description>

  <xacro:include filename="$(find kenny_description)/urdf/materials.urdf.xacro" /> 
  <xacro:include filename="$(find kenny_description)/urdf/base/base.urdf.xacro" /> 
  <xacro:include filename="$(find kenny_description)/urdf/arm/arm.urdf.xacro" /> 
  <xacro:include filename="$(find kenny_description)/urdf/camera_mechanism/camera_mechanism.urdf.xacro" /> 

  <!--  ++++++++++++++++++++++++++++++++++++++++ PARAMETERS -->

  <xacro:property name="pi" value="3.1419" />

  <xacro:property name="pan_arm_offset" value="0.12"/>
  

  <!--  ++++++++++++++++++++++++++++++++++++++++ LINKS -->


  <xacro:kenny_base />

  <xacro:kenny_arm parent="base_link">
    <origin xyz="${reel_base_offset} 0 ${base_depth+off_floor+0.5*reel_length}"/>
  </xacro:kenny_arm>

  <xacro:camera_mechanism parent="arm_link1">
    <origin xyz="${pan_arm_offset} 0 ${link1_depth/2}" rpy="0 0 0"/>
    <!-- <origin xyz="${pan_arm_offset} 0 0" rpy="0 0 0"/> -->
  </xacro:camera_mechanism>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/kenny</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

</robot>