<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kenny">
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find kenny_description)/urdf/kenny_description.urdf.xacro" />

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find kenny_description)/gazebo/kenny.gazebo.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find kenny_description)/gazebo/kenny.materials.xacro" />

  <!-- Import kenny ros2_control description -->
  <xacro:include filename="$(find kenny_description)/ros2_control/kenny_system.ros2_control.xacro" />

  <xacro:kenny prefix="$(arg prefix)" />


  <xacro:kenny_system name="KennySystem" prefix="$(arg prefix)" />

</robot>
