<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kenny">

    <!--  ++++++++++++++++++++++++++++++++++++++++ MATERIALS -->

    <material name="yellow">
        <color rgba="0.98 0.85 0.37 1"/>
    </material>

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>

    <!--  ++++++++++++++++++++++++++++++++++++++++ PARAMETERS -->


    <xacro:property name="base_length" value="1" />
    <xacro:property name="base_width" value="0.4" />
    <xacro:property name="base_depth" value="0.4" />

    <xacro:property name="off_floor" value="${base_depth/2}" />

    <xacro:property name="wheel_length" value="0.8" />
    <xacro:property name="wheel_width" value="0.1" />
    <xacro:property name="wheel_depth" value="0.3" />

    <xacro:property name="reel_rad" value="0.15" />
    <xacro:property name="reel_length" value="0.1" />
    <xacro:property name="reel_base_offset" value="0.1" />

    <xacro:property name="link1_length" value="0.8"/>
    <xacro:property name="link1_width" value="0.3"/>
    <xacro:property name="link1_depth" value="0.2"/>

    <xacro:property name="link2_length" value="0.5"/>
    <xacro:property name="link2_width" value="0.3"/>
    <xacro:property name="link2_depth" value="0.2"/>
    <xacro:property name="link2_default_rotation" value="1"/>


    <xacro:property name="link3_length" value="0.5"/>
    <xacro:property name="link3_width" value="0.1"/>
    <xacro:property name="link3_depth" value="0.1"/>
    

    <!--  ++++++++++++++++++++++++++++++++++++++++ LINKS -->

    <link name="base_link">
        <visual>
            <geometry>
                <box size="${base_length} ${base_width} ${base_depth}"/>
            </geometry>
            <origin xyz="0 0 ${off_floor}" />
            <material name="yellow"/>
        </visual>
    </link>

    <link name="wheel_left">
        <visual>
            <geometry>
                <box size="${wheel_length} ${wheel_width} ${wheel_depth}"/>
            </geometry>
            <origin xyz="0 ${-0.5*(base_width+wheel_width)} ${off_floor+(off_floor - wheel_depth)/2}" />
            <material name="black"/>
        </visual>
    </link>

    <link name="wheel_right">
        <visual>
            <geometry>
                <box size="${wheel_length} ${wheel_width} ${wheel_depth}"/>
            </geometry>
            <origin xyz="0 ${0.5*(base_width+wheel_width)} ${off_floor+(off_floor - wheel_depth)/2}" />
            <material name="black"/>
        </visual>
    </link>

    <link name="reel">
        <visual>
            <geometry>
                <cylinder length="${reel_length}" radius="${reel_rad}"/>
            </geometry>
            <origin xyz="${reel_base_offset} 0 ${base_depth+reel_length/2}" />
            <material name="yellow"/>
        </visual>
    </link>

    <link name="arm_link1">
        <visual>
            <geometry>
                <box size="${link1_length} ${link1_width} ${link1_depth}"/>
            </geometry>
            <origin xyz="${reel_base_offset/2} 0 ${base_depth+reel_length+link1_depth/2}" rpy="0 0 0"/>
            <material name="yellow"/>
        </visual>
    </link>

    <link name="arm_link2">
        <visual>
            <geometry>
                <box size="${link2_depth} ${link2_width} ${link2_length}"/>
            </geometry>
            <origin xyz="${reel_base_offset/2+link1_length/2-link2_depth/2} 0 ${base_depth+reel_length+link1_length/2}" rpy="0 0 0"/>
            <material name="yellow"/>
        </visual>
    </link>

    <link name="arm_link3">
        <visual>
            <geometry>
                <box size="${link3_length} ${link3_width} ${link3_depth}"/>
            </geometry>
            <origin xyz="${reel_base_offset/2+link1_length/2-link2_depth/2+link3_length/2} 0 ${base_depth+reel_length+link1_depth/2+link2_length}" rpy="0 0 0"/>
            <material name="yellow"/>
        </visual>
    </link>

    <!--  ++++++++++++++++++++++++++++++++++++++++ JOINTS -->


    <joint name="base_to_wheel_right" type="fixed">
        <parent link="base_link"/>
        <child link="wheel_right"/>
    </joint>

    <joint name="base_to_wheel_left" type="fixed">
        <parent link="base_link"/>
        <child link="wheel_left"/>
    </joint>
    
    <joint name="base_to_reel" type="fixed">
        <parent link="base_link"/>
        <child link="reel"/>
        <!-- <axis xyz="0 0 1"/>
        <origin xyz="${reel_base_offset} 0 ${base_depth+reel_length/2}" rpy="0 0 0" /> -->
    </joint>

    <joint name="reel_to_link1" type="fixed">
        <parent link="reel"/>
        <child link="arm_link1"/>
    </joint>

    <joint name="link1_to_link2" type="fixed">
        <parent link="arm_link1"/>
        <child link="arm_link2"/>
        <!-- <axis xyz="1 0 0"/> -->
    </joint>

    <joint name="link2_to_link3" type="fixed">
        <parent link="arm_link2"/>
        <child link="arm_link3"/>
        <!-- <axis xyz="1 0 0"/> -->
    </joint>

</robot>