<launch>

  <arg name="model" default="$(find kenny_description)/urdf/kenny.urdf"/>
  <arg name="showSteeringPlugin" default="false"/>
  <arg name="useGazebo" default="false"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/kenny/joint_states" />
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <remap from="/joint_states" to="/kenny/joint_states" />
  </node> 

  <!-- launch gazebo world if useGazebo -->
  <group if="$(arg useGazebo)">
    <include file="$(find kenny_description)/launch/kenny_world.launch"/>
    <include file="$(find kenny_control)/launch/controller_spawner.launch">
      <arg name="showSteeringPlugin" value="$(arg showSteeringPlugin)"/>
    </include>
  </group>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <!-- <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 1.0 -unpause -urdf -model kenny -param robot_description" respawn="false" output="screen" /> -->

  <!-- <include file="$(find kenny_control)/launch/controller_spawner.launch"/> -->

  <!-- <node -->

</launch>